aiofiles==0.7.0
anyio==3.3.4
attrs==21.2.0
Brotli==1.0.9
certifi==2021.10.8
cffi==1.15.0
cryptography==3.4.7
Cython==0.29.24
h11==0.12.0
httpcore==0.13.7
httptools==0.3.0
httpx==0.18.2
idna==3.3
importlib-metadata==4.8.1
iniconfig==1.1.1
ipaddr==2.2.0
keyring==23.2.1
lockfile==0.12.2
lxml==4.6.3
multidict==5.2.0
mypy-extensions==0.4.3
numpy==1.19.5
ordereddict==1.1
packaging==21.0
peewee==3.14.4
pluggy==1.0.0
protobuf==3.18.1
psycopg2==2.9.1
py==1.10.0
pycparser==2.20
pyOpenSSL==21.0.0
pyparsing==2.4.7
pytest==6.2.5
rfc3986==1.5.0
sanic==21.9.1
sanic-routing==0.7.1
sanic-testing==0.7.0
six==1.16.0
sniffio==1.2.0
toml==0.10.2
ujson==4.2.0
uvloop==0.16.0
websockets==10.0
zipp==3.6.0
